<html>
<head>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <!-- <script src="static/d3.word.js"></script> -->
    <script src="https://jardindesconnaissances.googlecode.com/svn-history/r82/trunk/public/js/d3.layout.cloud.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>

    $(function() {
        var fill = d3.scale.category20();

          var list = [
          ".NET", "Silverlight", "jQuery", "CSS3", "HTML5", "JavaScript", "SQL","C#"];

        var ll = list.map(function(d) {
          return {text: d, size: 10};
        });

        console.log('--'+ll);
        d3.layout.cloud().size([1000, 700])
        .words(ll)
        .rotate(function() { return ~~(Math.random() * 2) * 90; })
        .font("Impact")
        .fontSize(function(d) { return d.size; })
        .on("end", draw)
        .start();

        console.log(list);

        function draw(words) {
            console.log(words);
          d3.select("body").append("svg")
              .attr("width", 300)
              .attr("height", 300)
            .append("g")
              .attr("transform", "translate(150,150)")
            .selectAll("text")
              .data(words)
            .enter().append("text")
              .style("font-size", function(d) { return d.size + "px"; })
              .style("font-family", "Impact")
              .style("fill", function(d, i) { return fill(i); })
              .attr("text-anchor", "middle")
              .attr("transform", function(d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
              })
              .text(function(d) { return d.text; })
              .on("click", function(d) {
                alert(d.text);
              });
        }

    });

    </script>
</head>
<body>

</body>
</html>
