<html>
<head>
    <!--<link href='https://www.google.com/fonts/specimen/Open+Sans' rel='stylesheet' type='text/css'>-->
</head>
<body style="margin: 8px;">
    <canvas id="test" width="512" height="192" style="border:1px dashed gray;"></canvas>
    <canvas id="cloud" width="512" height="192" style="display: none;"></canvas>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.js"></script>
    <script>
    // Word Cloud prototype implementation using <canvas>
    // Jan Forst, 2012-04-10
    var DATA = [['practically', 85],
                        ['odd', 83],
                        ['wash', 82],
                        ['sing', 80],
                        ['inch', 80],
                        ['size', 79],
                        ['secret', 79],
                        ['who\'s', 79],
                        ['clock', 76],
                        ['company', 64],
                        ['view', 52],
                        ['suit', 40],
                        ['forever', 38],
                        ['familiar', 36],
                        ['forehead', 34],
                        ['shoot', 32],
                        ['grew', 30],
                        ['stretch', 28],
                        ['pound', 26],
                        ['despite', 24],
                        ['response', 22],
                        ['center', 20],
                        ['curl', 18],
                        ['slight', 18],
                        ['toss', 18],
                        ['beneath', 18],
                        ['fist', 16],
                        ['welcome', 16],
                        ['laughter', 16],
                        ['angel', 16],
                        ['Christmas', 16],
                        ['we\'d', 16],
                        ['main', 16],
                        ['simple', 16],
                        ['neither', 16],
                        ['distance', 16],
                        ['comfort', 16],
                        ['upset', 16],
                        ['assume', 16],
                        ['eight', 16],
                        ['gather', 16],
                        ['lucky', 16],
                        ['fade', 16],
                        ['Ms.', 16],
                        ['coat', 16],
                        ['special', 16],
                        ['awkward', 16],
                        ['certain', 16],
                        ['plate', 16],
                        ['darkness', 16]];

    var OFFSET = 8;

    function getFont(style, size, name) {
        return (style + ' ' + size + 'px ' + name);
    }

    function measureText(text, font, size, context) {
        context.font = font;
        var metrics = context.measureText(text);
        return {
            width: metrics.width + 2 * OFFSET,
            height: Math.round(size * 1.5)
        };
    }

    function putText(text, font, x, y, context) {
        context.font = 'Times New Roman';
        context.textBaseline = 'top';
        var hue = 'rgba(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ', 0.5)';

        context.fillStyle = hue;
        context.fillText(text, x, y);
    }

    function testCollision(pixels) {
        var i;

        for (i = 0; i < pixels.length; i += 4) {
            if (pixels[i + 3] > 128) {
                return true;
            }
        }

        return false;
    }

    function getCloud(data, style, name, testid, cloudid) {
        var canvasTest = document.getElementById(testid);
        var contextTest = canvasTest.getContext("2d");
        var canvasCloud = document.getElementById(cloudid);
        var contextCloud = canvasCloud.getContext("2d");

        // contextTest.font="Arial";
        // contextCloud.font="Arial";

        var w = 512;
        var h = 192;

        var i;

        for (i = 0; i < data.length; i++) {
            var m = data[i];
            var text = m[0];
            var size = m[1];
            var col = true;
            var max = 10;
            var font = getFont(style, size, name);
            var measure = measureText(text, font, size, contextTest);

            while (col && (max-- > 0)) {


                var x = Math.round(Math.random() * (w - measure.width - OFFSET)) + 2 * OFFSET;
                var y = Math.round(Math.random() * (h - measure.height));

                var bx = x - OFFSET;
                bx = (bx < 0) ? 0 : bx;
                var by = y;
                var bw = measure.width;
                var bh = measure.height;

                contextCloud.drawImage(contextTest.canvas, bx, by, bw, bh, bx, by, bw, bh);
                putText(text, font, x, y, contextTest);

                var img = contextTest.getImageData(bx, by, bw, bh);
                col = testCollision(img.data);

                if (col) {
                    contextTest.clearRect(bx, by, bw, bh);
                    contextTest.drawImage(contextCloud.canvas, bx, by, bw, bh, bx, by, bw, bh);
                    size = Math.max(Math.round(size * 0.85), 10);
                    font = getFont(style, size, name);
                    measure = measureText(text, font, size, contextTest);
                }

                contextCloud.clearRect(bx, by, bw, bh);
            }
        }
    }

    $(document).ready(function() {
        getCloud(DATA, 'bold', 'Arial', 'test', 'cloud');
    });
    </script>
</body>
<html>
